{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Add a Movie</h1>
    {% if can_add %}
        {{ wtf.quick_form(form, novalidate='False') }}
    {% else %}
        <p>There's already 10 in the list!</p><br>
        <p>Head over to the <a href="{{ url_for('home') }}">home page</a> and delete one to make room!</p>
    {% endif %}
</div>
    {% if message == 'already exists' %}
        <p class="error-message">Movie already exists in list.</p>
    {% endif %}
{% endblock %}